body{
   
    font-family: Arial, sans-serif;
}
header{
background-color:#153d14;
    color:rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    
}
header a{
color: white ;
margin: 30px;
text-decoration: none;
}
footer{
    background-color: #1c5855;
    color: black;
    padding: 10px;
    text-align: center;
    bottom: 0;
    position: absolute;
}
.contaner{
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    margin: 20px;
}
.linha{
    display: flex;
    justify-content: space-between;
}
.coluna{
    flex: 1;
    background-color: black;
    padding: 20px;
}